<div class="container-fluid" style="margin-top:100px">
    <p class="text-center my-5"><a routerLink="" class="text-secondary text-decoration-none"><i class="fas fa-arrow-left"></i> &nbsp;กลับหน้าหลัก</a></p>
    <div class="rounded d-flex justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-3 shadow-lg p-5">
            <form action="#" method="post">
                <div class="py-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-primary">
                            <i class="far fa-envelope text-light"></i>
                        </span>
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <button class="btn btn-primary text-center mt-3 w-100" type="submit">
                        ส่งข้อมูล
                    </button>
                    <p class="text-center mt-5">
                        <a routerLink="/auth/login" class="text-primary text-decoration-none">เข้าสู่ระบบ</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>