<div class="container-fluid" style="margin-top:100px">
    <p class="text-center my-5"><a routerLink="" class="text-secondary text-decoration-none"><i class="fas fa-arrow-left"></i> &nbsp;กลับหน้าหลัก</a></p>
    <div class="rounded d-flex justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-4 shadow-lg p-5">
            <div [innerHTML]="msgStatus"></div>
            <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
                <div class="pt-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-primary">
                            <i class="far fa-user text-light"></i>
                        </span>
                        <input type="text" 
                        class="form-control"
                        [ngClass]="{'is-invalid': submitted && loginForm.controls.username.errors}"
                        name="username" 
                        id="username" 
                        formControlName="username"
                        placeholder="Username">
                        <div *ngIf="submitted &&  loginForm.controls.username.errors" class="invalid-feedback">
                            <div *ngIf="loginForm.controls.username.errors.required">ป้อน Username ก่อน</div>
                            <div *ngIf="loginForm.controls.username.errors.minlength">อย่างน้อย 3 ตัวอักษร</div>
                        </div>
                    </div>
                    

                    <div class="input-group mb-3">
                        <span class="input-group-text bg-primary">
                            <i class="fas fa-lock text-light"></i>
                        </span>
                        <input type="password" 
                        class="form-control" 
                        [ngClass]="{'is-invalid': submitted && loginForm.controls.password.errors}"
                        name="password" 
                        id="password" 
                        formControlName="password"
                        placeholder="Password">
                        
                        <div *ngIf="submitted &&  loginForm.controls.password.errors" class="invalid-feedback">
                            <div *ngIf="loginForm.controls.password.errors.required">ป้อนรหัสผ่านก่อน</div>
                            <div *ngIf="loginForm.controls.password.errors.minlength">อย่างน้อย 6 ตัวอักษร</div>
                        </div>
                    </div>

                    

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            จำฉันไว้
                        </label>
                    </div>
                    <button class="btn btn-primary text-center mt-3 w-100" name="login" type="submit">
                        เข้าสู่ระบบ
                    </button>
                    <p class="text-center mt-5">ยังไม่เป็นสมาชิก ?
                        <a routerLink="/auth/register" class="text-primary text-decoration-none">ลงทะเบียนฟรี</a>
                    </p>
                    <p class="text-center">
                        <a routerLink="/auth/forgotpass" class="text-primary text-decoration-none">ลืมรหัสผ่าน ?</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>